/*header*/
header
{
<<<<<<< HEAD
  background="img/bg.jpg";
  margin: auto;
  height: 150px;
  font-size:30px;
  color:white;
  width: 100%;
  float:left;
  padding:15px 0;
  text-align: right;
  min-width: 100%;

}
#brand-image
{
  width:300px;
  height: 60px;
  margin-bottom:50px;
}
/*body*/
body
{
<<<<<<< HEAD
  background-color: red;
=======
  background-color: white;
=======
  background-color: orange;
  margin: auto;
  height: 100px;
  font-size:30px;
  color: green;
  width: 100%;
  text-align: right;

}
/*body*/
body
{
  background-image: url("../img/background.jpeg");
>>>>>>> 47df884b88d4819ac6236e621202bc904bb1377e
>>>>>>> 701259b554d3560f9b7c28e538160656a81922b3
}

//*navigation*/
nav
{
  width: 100%;
  text-align: right;
<<<<<<< HEAD
font-size:20px;
=======
<<<<<<< HEAD

>>>>>>> 701259b554d3560f9b7c28e538160656a81922b3
}
nav a{
  font-size: 15;
  color:white;
=======
}
nav a{
  font-size: 23;
  color:#466666;
>>>>>>> 47df884b88d4819ac6236e621202bc904bb1377e
  font-weight: bolder;
  margin-right: 20px

}

p{
  display: inline-flex;

}
.dec
{
  text-decoration-style: solid;
  font-style: italic;
}
/* image*/
img
{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.first
{
  float: left;
  height: 200px;
  width:300px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px
}
.third
{
  float: left;
  height: 200px;
  width:300px;
  text-align: center;
  padding-left: 50px;
  padding-right: 100px
}
.second
{
  float:left;
  height: 200;
  width: 300;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px
}
<<<<<<< HEAD
.col-sm-6
{
  float:left;
height: 400px;
width: 600px;
}
.right
{
  float: left;
  height: 400px;
  width:300px;
  color:red
}

.left
{
  float: left;
  height: 400px;
  width:100px;
}
/*footer*/
footer
{
  background-color: black;
  margin: auto;
  height: 100px;
  font-size:20;
  color: #b2b2be;
  width: 100%;
  text-align: center;
  float:left;
  padding:15px 0;
  text-align: right;
  min-width: 100%;
=======

/*footer*/
footer
{
  background-color: orange;
  margin: auto;
  height: 100px;
  font-size:20;
  color: blue;
  width: 100%;
  text-align: center;
>>>>>>> 47df884b88d4819ac6236e621202bc904bb1377e
}

/*text over image*/
.image
{
  position: relative;
  width: 100%;
}

.h11 {
  position: absolute;
  top: 450px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 50px;
   font-style: italic;
   font-size: 30px;
   color: orange;
   margin-left: 500px;
}
<<<<<<< HEAD
.P1
{
  margin-bottom: 500px;
  color: orange;
}
p{
  color:white;
  text-align: center;
}

.tile table .col1 {
    text-align: center;
    vertical-align: middle;
}
.tile table .col2 {
    width: 245;
    padding-left: 10px;
    vertical-align: top;
    text-align: left;
    height: 205px;
}
td{
  color: white;
  padding-left: 15px;
}
#id{
  border:1px solid white;
  padding-left: 25px;

}
#id1{
  padding-left: 25px;
}
.tile .description {
    color: #fff;
    font-family: "Roboto";
    font-size: 13px;
    letter-spacing: -0.055em;
    line-height: 16px;
    margin-top: -1px;
    max-height: 74px;
    overflow: hidden;
    text-align: left;
}
<<<<<<< HEAD
.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}
@media screen (min-width:350px;max-width:750px){
    #menu_btn { display:none; }
}
@media screen (min-width:200px) and (max-width:350px){
  #menu_btn { display:inline-block; }
}
@media screen (min-width:750px) and (max-width:950px){
  #menu_btn { display:inline-block; }
}
.panel-body
{
  background-color:orange;
  text-align: center;
}
#id{
    width: 50%;
}
.modal-backdrop {
   background-color: red;
}
.clr
{
  color:Black;
}
.clr1
{
  color:white;
}
=======
=======
>>>>>>> 47df884b88d4819ac6236e621202bc904bb1377e
>>>>>>> 701259b554d3560f9b7c28e538160656a81922b3
